@import url("./reset.min.css");
@import url("./grid.min.css");
@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #ff5b35;
    --white: #ffffff;
    --black: #000000;
}

body{
    font-family: Vazirmatn;
    overflow-x: hidden;
    height: 2000px;
}

a{
    text-decoration: none;
    color: initial;
}

li{
    list-style: none;
}

/* start header section styles */
.header-tapsi{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-header-tapsi{
    display: flex;
    padding: 17px 0;
}

.logo-header-tapsi:hover > svg g path:last-child{
    fill: var(--black);
}

.logo-header-tapsi:hover > svg g path:not(:last-child){
    fill: var(--orange);
}

.menu-and-btn-header-tapsi{
    display: flex;
    align-items: center;
}

.main-menu-header-tapsi{
    display: flex;
}

.menu-item-header-tapsi:not(:first-child){
    margin-left: 32px;
}

.main-menu-header-tapsi li a{
    color: #545454;
    font-size: 15px;
    line-height: 30px;
}

.main-menu-header-tapsi li a:hover{
    color: var(--orange);
}

.menu-item-header-tapsi input#hamburger{
    display: none;
}

.menu-item-header-tapsi .bars{
    width: 24px;
    height: 2px;
    background-color: #101010;
    display: block;
    margin: 5px 0;
    transition: transform .5s ease, opacity .25s ease;
}

.menu-item-header-tapsi input#hamburger:checked ~ label .bar-top{
    transform: translateY(7px) rotate(-45deg);
}

.menu-item-header-tapsi input#hamburger:checked ~ label .bar-middle{
    opacity: 0;
}

.menu-item-header-tapsi input#hamburger:checked ~ label .bar-bottom{
    transform: translateY(-7px) rotate(45deg);
}

.btn-header-tapsi{
    background: linear-gradient(91deg,#f73,#ff5722 50%,#e54917);
    color: var(--white);
    width: 130.4px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 14px;
    position: relative;
}

.btn-header-tapsi:hover .overlay-btn-header-tapsi{
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.1s;
    z-index: 1;
    background: rgba(0, 0, 0, 0.122);
}

.bars-header-tapsi{
    display: none;
}

@media only screen and (max-width:768px){
    .bars-header-tapsi{
        display: block;
    }
    .menu-item-header-tapsi:not(:first-child){
        display: none;
    }
}

@media only screen and (max-width:992px){
    .btn-header-tapsi{
        display: none;
    }
}
/* end header section styles */