@import url("./reset.min.css");
@import url("./grid.min.css");
@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #ff5b35;
    --white: #ffffff;
    --black: #000000;
}

body{
    font-family: Vazirmatn;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: initial;
}

li{
    list-style: none;
}

.responsive-img{
    width: 100%;
    height: auto;
    display: block;
}

.main-btn{
    background: linear-gradient(91deg,#f73,#ff5722 50%,#e54917);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 68px;
    border-radius: 34px;
    padding: 0 32px;
    line-height: 32px;
}

.secondary-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    font-size: 18px;
    font-weight: 500;
    height: 68px;
    border-radius: 34px;
    padding: 0 32px;
    line-height: 32px;
}

/* start header section styles */
.header-tapsi{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-header-tapsi{
    display: flex;
    padding: 17px 0;
}

.logo-header-tapsi:hover > svg g path:last-child{
    fill: var(--black);
}

.logo-header-tapsi:hover > svg g path:not(:last-child){
    fill: var(--orange);
}

.menu-and-btn-header-tapsi{
    display: flex;
    align-items: center;
}

.main-menu-header-tapsi{
    display: flex;
    align-items: center;
}

.menu-item-header-tapsi{
    margin-left: 32px;
}

.main-menu-header-tapsi li a{
    color: #545454;
    font-size: 15px;
    line-height: 30px;
}

.main-menu-header-tapsi li a:hover{
    color: var(--orange);
}

.menu-and-btn-header-tapsi input#hamburger{
    display: none;
}

.bars-header-tapsi .bars{
    width: 24px;
    height: 2px;
    background-color: #101010;
    display: block;
    margin: 5px 0;
    transition: transform .5s ease, opacity .25s ease;
}

.menu-and-btn-header-tapsi input#hamburger:checked ~ label .bar-top{
    transform: translateY(7px) rotate(-45deg);
}

.menu-and-btn-header-tapsi input#hamburger:checked ~ label .bar-middle{
    opacity: 0;
}

.menu-and-btn-header-tapsi input#hamburger:checked ~ label .bar-bottom{
    transform: translateY(-7px) rotate(45deg);
}

.menu-and-btn-header-tapsi input#hamburger:checked ~ .main-menu-header-tapsi{
    display: block;
}

.menu-and-btn-header-tapsi input#hamburger:checked ~ .main-menu-header-tapsi .btn-header-tapsi{
    display: block;
}

.btn-header-tapsi{
    width: 130.4px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    margin-right: 14px;
    position: relative;
}

.btn-header-tapsi:hover .btn-overlay{
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.1s;
    z-index: 1;
    background: rgba(0, 0, 0, 0.122);
}

.bars-header-tapsi{
    display: none;
}

.banner-header-tapsi{
    background-image: url(../../public/img/header-banner-desktop.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 75px;
    position: sticky;
    top: 60px;
    z-index: 998;
}

@media only screen and (max-width:576px){
    .banner-header-tapsi{
        min-height: 45px;
    }
}

@media only screen and (max-width:768px){
    .bars-header-tapsi{
        display: block;
    }
    .main-menu-header-tapsi{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, .05);
        padding: 1rem 0;
    }
    .menu-item-header-tapsi{
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
    .main-menu-header-tapsi .btn-header-tapsi{
        margin-top: 1rem;
        text-align: center;
        line-height: 40px;
    }
}

@media only screen and (max-width:992px){
    .btn-header-tapsi{
        display: none;
    }
}
/* end header section styles */

/* start first section styles */
.first-section-tapsi{
    width: 100%;
    height: calc(100vh - 135px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 63px;
    padding: 100px 10%;
    background-color: #F5F7F7;
}

.hero-title-tapsi{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-title-tapsi h1 span{
    display: block;
    font-size: 48px;
    font-weight: 700;
    height: 72px;
}

.mobile-banner-tapsi{
    display: none;
}

.btn-wrapper-tapsi{
    display: flex;
    gap: 24px;
    padding: 1rem 0;
}

.hero-banner-tapsi{
    width: 50%;
}

.hero-banner-tapsi img{
    border-radius: 40px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .12);
}

@media only screen and (max-width:768px){
    .first-section-tapsi{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    .hero-title-tapsi{
        width: 100%;
        text-align: center;
    }
    .main-title-tapsi{
        padding: 32px 0 0 0; 
    }
    .hero-title-tapsi h1 span{
        font-size: 28px;
        height: 48px;
    }
    .mobile-banner-tapsi{
        display: block;
    }
    .mobile-banner-tapsi img{
        border-radius: 20px;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, .12);
    }
    .btn-wrapper-tapsi{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1.5rem;
    }
    .btn-wrapper-tapsi .primary-btn,.secondary-btn{
        height: 52px;
    }
    .hero-banner-tapsi{
        width: 100%;
        display: none;
    }
}
/* end first section styles */

/* start services section styles */
.services-tapsi{
    padding: 30px 10% 100px 10%;
}

.services-tapsi h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services-nav{
    margin: 50px 0;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 5px 15px;
}

.nav-wrapper .nav-item{
    margin-left: 25px;
    padding: 0 5px;
}

.nav-wrapper .nav-item:not(:nth-child(2)){
    filter: opacity(0.35);
}

.nav-wrapper .nav-item:hover{
    filter: opacity(1);
}

.nav-item a{
    min-width: 80px;
    max-width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item a p{
    margin-top: 13px;
}

.services-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.services-content-right{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.services-content-right h3{
    color: #141414;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.services-content-right p{
    color: #333;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
}

.services-content-left{
    display: flex;
    width: 45%;
}

@media only screen and (max-width:768px){
    .services-tapsi{
        padding: 50px 20px;
    }
    .services-tapsi h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .services-nav {
        margin: 20px 0 50px 0;
    }
    .nav-wrapper .nav-item:first-child{
        display: none;
    }
    .services-content{
        flex-direction: column-reverse;
    }
    .services-content-right{
        width: 100%;
    }
    .services-content-right h3{
        font-size: 16px;
        margin: 10px 0;
    }
    .services-content-right p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .services-content-left{
        width: 100%;
    }
}
/* end services section styles */

/* start register section styles */
.register-tapsi{
    width: 100%;
    padding: 80px 10%;
    display: flex;
    flex-direction: row;
    grid-column-gap: 150px;
}

.register-right-tapsi{
    width: 50%;
    display: flex;
}

.register-right-tapsi img{
    width: 100%;
}

.register-left-tapsi{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.register-left-tapsi h2{
    color: #141414;
    margin-bottom: 30px;
    font-size: 32px;
}

.register-left-tapsi ul li{
    list-style: disc;
    color: #333333;
    font-size: 18px;
    height: 32px;
    margin-right: 20px;
}

.btn-wrapper-register-tapsi{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    gap: 70px;
}

.btn-wrapper-register-tapsi > a{
    height: 52px;
    padding: 0 24px;
    font-size: 16px;
}

.download-tapsi-driver-btn-tapsi{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 14px;
}

.download-tapsi-driver-btn-tapsi > a{
    padding: 0 10px;
}

.download-tapsi-driver-btn-tapsi > svg{
    width: 1.2rem;
    height: 1.2rem;
}

@media only screen and (max-width:768px){
    .register-tapsi{
        display: flex;
        flex-direction: column;
        grid-row-gap: 50px;
        padding: 48px 20px;
    }
    .register-right-tapsi{
        width: 100%;
    }
    .register-left-tapsi{
        width: 100%;
    }
    .register-left-tapsi h2{
        font-size: 20px;
    }
    .register-left-tapsi ul li{
        font-size: 14px;
    }
    .btn-wrapper-register-tapsi{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }
    .btn-wrapper-register-tapsi a:first-child{
        height: 40px;
        font-size: 14px;
    }
    .download-tapsi-driver-btn-tapsi{
        padding: 0 10px!important;
    }
    .download-tapsi-driver-btn-tapsi span{
        font-size: 14px;
    }
}
/* end register section styles */

/* start corporate section styles */
.corporate-tapsi{
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 150px;
    padding: 80px 10%;
}

.corporate-right-tapsi{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.corporate-right-tapsi h2{
    color: #141414;
    margin-bottom: 30px;
    font-size: 32px;
}

.corporate-right-tapsi p{
    color: #333;
    font-size: 18px;
    line-height: 32px;
}

.btn-wrapper-corporate-tapsi{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    gap: 70px;
}
.btn-wrapper-corporate-tapsi > a{
    height: 52px;
    padding: 0 24px;
    font-size: 16px;
}

.discount-code-btn-tapsi{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 14px;
}

.discount-code-btn-tapsi > a{
    padding: 0 10px;
}

.discount-code-btn-tapsi > svg{
    width: 1.2rem;
    height: 1.2rem;
}

.corporate-left-tapsi{
    width: 50%;
    display: flex;
}

@media only screen and (max-width:768px){
    .corporate-tapsi{
        display: flex;
        flex-direction: column-reverse;
        grid-row-gap: 50px;
        padding: 48px 20px;
    }
    .corporate-right-tapsi{
        width: 100%;
    }
    .corporate-left-tapsi{
        width: 100%;
    }
    .corporate-right-tapsi h2{
        font-size: 20px;
    }
    .corporate-right-tapsi p{
        font-size: 14px;
    }
    .btn-wrapper-corporate-tapsi{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }
    .btn-wrapper-corporate-tapsi a:first-child{
        height: 40px;
        font-size: 14px;
    }
    .discount-code-btn-tapsi{
        padding: 0 10px!important;
    }
    .discount-code-btn-tapsi span{
        font-size: 14px;
    }
}
/* end corporate section styles */

/* start install section styles */
.install-tapsi{
    width: 100%;
    padding: 80px 10%;
}

.container-install-tapsi{
    background: linear-gradient(90deg, var(--Palette-Orange-Orange-50, #fff0e9) 0, #f4f1f0 100%);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.install-right-tapsi{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 64px 64px 64px 0;
}

.install-right-tapsi h2{
    color: #141414;
    font-size: 32px;
    line-height: 48px;
}

.install-right-tapsi p{
    color: #333333;
    font-size: 18px;
    line-height: 32px;
}

.btn-wrapper-install-tapsi{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.btn-wrapper-install-tapsi .main-btn{
    padding: 0 1.5rem;
    line-height: 52px;
    border-radius: 26px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.btn-wrapper-install-tapsi .main-btn:hover .btn-overlay{
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.1s;
    z-index: 1;
    background: rgba(0, 0, 0, 0.122);
}

.btn-wrapper-install-tapsi .other-btn{
    padding: 0 1.5rem;
    line-height: 52px;
    border-radius: 26px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
}

.install-left-tapsi{
    width: 45%;
    display: flex;
}

@media only screen and (max-width:768px){
    .install-tapsi{
        padding: 80px 20px;
    }
    .container-install-tapsi{
        display: flex;
        flex-direction: column-reverse;
    }
    .install-right-tapsi{
        width: 100%;
        padding: 0 16px 32px; 
    }
    .install-left-tapsi{
        width: 100%;
    }
    .btn-wrapper-install-tapsi{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
/* end install section styles */

/* start weblog section styles */
.weblog-tapsi{
    width: 100%;
    padding: 8% 10%;
}

.weblog-tapsi h2{
    font-size: 35px;
    margin-bottom: 50px;
}

.weblog-wrapper-tapsi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weblog-card-tapsi{
    padding: 25px;
    width: 33%;
}

.weblog-card-tapsi img{
    border-radius: 12px;
}

.weblog-card-tapsi h3{
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin: 25px 0 15px 0;
}

.weblog-card-tapsi p{
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #9b9b9b;
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
}

.weblog-card-tapsi:hover{
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

@media only screen and (max-width:768px){
    .weblog-tapsi{
        width: 100%;
        padding: 6%;
    }
    .weblog-tapsi h2{
        font-size: 22px;
    }
    .weblog-wrapper-tapsi{
        flex-direction: column;
        gap: 1rem;
    }
    .weblog-card-tapsi{
        padding: 0 0 50px 0;
        width: 100%;
    }
    .weblog-card-tapsi h3{
        font-size: 16px;
    }
}
/* end weblog section styles */
/* start footer section styles */
.footer-tapsi{
    background-color: #000;
    color: #fff;
    padding: 5% 10%;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brand-col{
    width: 15%;
    font-size: 12px;
    line-height: 30px;
    margin-left: 20px;
}

.brand-col a{
    display: inline-block;
    margin-bottom: 1rem;
}

.brand-col h3{
    font-size: 12px;
    font-weight: 300;
}

.brand-col p{
    color: #acacac;
}

.footer-col h6{
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.footer-col ul li a{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

.footer-col ul li a:hover{
    color: #ff5722;;
}

.trust-col{
    display: flex;
    justify-content: stretch;
    gap: 0.75rem;
    width: 26%;
}

.trust-logo{
    background-color: #fff;
    border-radius: 12px;
    width: 120px;
    max-width: 120px;
    padding: 65px 0;
}

.trust-logo img[alt]{
    color: #000;
    font-size: 12px;
}

.social-footer-tapsi{
    margin-top: 1rem;
}

.social-footer-tapsi h3{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.social-footer-tapsi p{
    display: none;
}

.social-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.social-links li a svg{
    width: 23px;
    height: 23px;
}

.social-links li a svg:hover path{
    fill: #FB8121;
}

@media only screen and (max-width:768px){
    .footer-tapsi{
        padding: 30px 1rem;
    }   
    .footer-container{
        flex-direction: column;
        gap: 2rem;
    }
    .brand-col{
        width: 100%;
        margin-left: 0;
    }
    .brand-col a{
        margin-bottom: 0;
    }
    .brand-col p{
        display: none;
    }
    .trust-col{
        width: 100%;
    }
    .trust-logo{
        padding: 0;
        padding: 10px;
    }
    .social-footer-tapsi{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .social-footer-tapsi h3{
        display: none;
    }
    .social-footer-tapsi p{
        display: block;
        font-size: 14px;
        margin-top: 1rem;
        color: #acacac;
        text-align: center;
    }
    .social-links{
        display: flex;
        justify-content: space-evenly;
    }
}
/* end footer section styles */